[submodule "test/themes/ananke"]
	path = test/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "test/themes/PaperMod"]
	path = test/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
